@charset "utf-8";
/* CSS Document */

.sortFilter{
    float:left;
}

.sortFilter .ui-select{
    width:auto;
}

.sortFilter .ui-field-contain{
    border-bottom: 1px solid #CCC;
    margin:0;
    line-height: 29px;
}

.itemList li:last-child label{
    border-bottom:1px solid #CCC;
}

span.error{
    color:red;
    font-weight:bolder;
}

#scriptOut{
    overflow:scroll;
    max-height:400px;
    min-height:100px;
    background-color:#FFF;
}

.header{
    background: none;
    background-color: #F8F8F8;
    padding: 21px;
    margin:0;
    text-align:center;
}

h3.sectionTitle{
    background-color: #444;
    color: #FFF;
    padding: 8px;
    font-weight: bolder;
    text-shadow: none;
    border: 1px dotted #FFF;
    margin-bottom: 10px;
}

#assetList{
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
}

#assetList ul li{
    padding:0px;
    margin:0px;
    border:none;
    background: none;
}

#assetList .ui-body-c, .ui-overlay-c {
    background:none;
    background-color:#FFF;
    margin: 0;
    box-shadow: none;
}

#assetList .ui-input-clear{
    display:none;
}

#assetList > .ui-listview-filter{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin: 10px 0;
}

.addDeleteAssets{
    float: right;
    width: 50%;
    height: 40px;
    line-height: 10px;
    margin-right: 3px;
}

#assetList .itemList{
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
}

.section{
    box-shadow: 4px 4px 8px #ccc;
    border-radius:10px;
    margin-bottom: 13px;
    padding-top: 0;
    border:none;
    background:none;
    background-image: linear-gradient(left top, rgb(248,248,248) 84%, rgb(252,252,252) 100%, rgb(255,255,255) 100%);
    background-image: -o-linear-gradient(left top, rgb(248,248,248) 84%, rgb(252,252,252) 100%, rgb(255,255,255) 100%);
    background-image: -moz-linear-gradient(left top, rgb(248,248,248) 84%, rgb(252,252,252) 100%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient(left top, rgb(248,248,248) 84%, rgb(252,252,252) 100%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient(left top, rgb(248,248,248) 84%, rgb(252,252,252) 100%, rgb(255,255,255) 100%);

    background-image: -webkit-gradient(
        linear,
        left top,
        right bottom,
        color-stop(0.84, rgb(248,248,248)),
        color-stop(1, rgb(252,252,252)),
        color-stop(1, rgb(255,255,255))
    );
    margin-right:8px;
}

.section > fieldset{
    padding-bottom: 1px;
}

#pageTitle
{
	text-align:center;
	color:black;
	font-size:20px;
} 

.itemButton{
    float:right;
    margin: 0;
    padding: 0;
    margin-top: -1px;
    border: none;
   /* position: relative;
    z-index: 1;
    float: right;
    padding: 2px;
    border:none;
    height:40px !important;*/
}

.itemButton .ui-btn-inner{
    padding-left: 18px !important;
}

ul.itemList{
    padding:0;
}

.itemList .ui-btn-inner{
    padding: 0 0 0 45px;
    height:40px;
    line-height: 40px;
}

.arg.ui-collapsible label{
    line-height:35px;

}

#inputArgumentsList > div.ui-collapsible-content {
    background-color: #CCC;
}

.showHide div{
    font-weight:normal;
    margin-top:.5em;
}

.inputFix{
	border:2px solid #b4b4b4;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
	box-shadow:inset 1px 2px 4px #cdcdcd;
	-moz-box-shadow:inset 1px 1px 4px #cdcdcd;
	-webkit-box-shadow:inset 1px 1px 4px #cdcdcd;
    padding:5px;
	font-weight:bold;
	font-size:16px;
	width:500px !important;
    min-height:20px;
    cursor:text;
}

.textareaFix{
	border:2px solid #b4b4b4;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
	box-shadow:inset 1px 2px 4px #cdcdcd;
	-moz-box-shadow:inset 1px 1px 4px #cdcdcd;
	-webkit-box-shadow:inset 1px 1px 4px #cdcdcd;
    padding:5px;
	font-weight:bold;
	font-size:16px;
	width:500px !important;
	overflow:scroll;
}

input.inputFix:focus{ 
    outline:none;
    box-shadow:0px 0px 12px #387bbe; 
    -moz-box-shadow:0px 0px 12px #387bbe;
    -webkit-box-shadow:0px 0px 12px #387bbe;
}

div.scrollBar{ 
	/*max-height:122px;*/
	overflow:auto;
} 

div.hideDefault{
	display: none;
}

#scripts .ui-listview-filter:nth-child(n+2) {
    display : none;
}

/*
.detailsPane .ui-btn-inner{
   line-height:normal;
    padding: inherit;
    height:auto;
}

.itemButton .ui-btn-inner{
    padding-left:15px !important;

}*/

.detailsPane{
    clear: both;
    background-color: white;
    padding: 5px;
    border: 1px solid rgb(204, 204, 204);
}

#settingsArea{
    display:none;
}

ul.scriptArguments{
    width:400px;
}

ul.scriptArguments input, ul.scriptArguments textarea{
    margin: 0;
}
#scriptList-project ul {
    padding-left: 0;
}

#scriptList-project ul li{
    line-height:40px;
    border: 1px solid #ccc /*{c-bup-border}*/;
    background: #eee /*{c-bup-background-color}*/;
    font-weight: bold;
    color: #222 /*{c-bup-color}*/;
    text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #fff /*{c-bup-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #fff /*{c-bup-background-start}*/), to( #f1f1f1 /*{c-bup-background-end}*/));
    background-image: -webkit-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
    background-image: -moz-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
    background-image: -ms-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
    background-image: -o-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
    background-image: linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);



    border: 1px solid #ccc;
}

#scriptList-project ul li:hover{
    background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6 /*{c-bhover-background-start}*/), to( #e0e0e0 /*{c-bhover-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/);
}

#scriptList-project ul li a {
    width: 100%;
    position: relative;
    display: block;
    left: 20px;
    text-decoration: none;
    height: 100%;
    color: #222 /*{c-bup-color}*/;
}

#createProjectPopup-popup{
    width:70% !important;
    left: 15% !important;
}

#createProjectPopup-popup label, #createProjectPopup-popup label input{
    display: inline;
    float: left;
}

#editProjectPopup-popup{
    width:70% !important;
    left: 15% !important;
}

#editProjectPopup-popup label, #editProjectPopup-popup label input{
    display: inline;
    float: left;
}

#pDetails{
    margin-top:0px;
    min-height:60px;
}

#scriptExeAssetList h3{
    margin: 0 0 .5em 0;
}

#scriptExeAssetList > fieldset > div > div.required{
    background-image: none;
    background-color: #F5D6CC;
}

.scriptTitle{
    margin-top:0;
    margin-bottom:0;
}

.scriptDescription{
    font-size: 1em;
    width: 100%;
    display: inline-block;
    font-style: italic;
}

.scriptDescriptionSmall{
    margin-left: 0em;
    margin-top: -.5em;
    font-size: .75em;
    font-weight: normal;
    font-style: italic;
    margin-bottom: .75em;
    line-height: 1.25em;
    width: 95%;
}

/*

@media all and (min-width: 650px){
	.content-secondary {
		text-align: left;
		float: left;
		width: 45%;
		background: none;
	}
	.content-secondary,
	.type-interior .content-secondary {
		
			background: none;
					border-top: none;
	}
	.type-index .content-secondary {
		padding: 0;
	}
	.content-secondary .ui-collapsible {
		margin: 0;
		padding: 0;
	}
	.content-secondary .ui-collapsible-content {
		border-left: none;
		border-right: none;
	}
	.type-index .content-secondary .ui-listview {
		margin: 0;
	}

	.ui-mobile #jqm-homeheader {
		padding: 0;
	}
	.content-primary {
		width: 45%;
		float: right;
		margin-top: 30px;
		margin-right: 1%;
		padding-right: 1%;
	}
	.content-primary ul:first-child {
		margin-top: 0;
	}

	.content-primary .ui-collapsible-content ul:first-child {
		margin-top: -10px;
	}
	.content-secondary h2 {
		position: absolute;
		left: -9999px;
	}
	.type-interior .content-primary {
		padding: 1.5em 6% 3em 0;
		margin: 0;
	}

	.content-secondary .ui-collapsible-inset {
		margin-bottom: 2em;
	}
	.content-secondary .ui-collapsible-heading {
		display: none;
	}
	.content-secondary .ui-collapsible-contain {
		margin:0;
	}
	.content-secondary .ui-collapsible-content {
		display: block;
		margin: 0;
		padding: 0;
	}
	.type-interior  .content-secondary .ui-li-divider {
		padding-top: 1em;
		padding-bottom: 1em;
	}
	.type-interior .content-secondary {
		margin: 0;
		padding: 0;
	}
	
}
*/