@charset "utf-8";
/* CSS Document */

#pageTitle
{
	text-align:center;
	color:black;
	font-size:20px;
} 

.itemButton{
    position: relative;
    z-index: 1;
    float: right;
    padding: 2px;
    border:none;
    height:40px !important;
}

.itemList .ui-btn-inner{
    line-height: 40px;
    padding: 0 0 0 45px;
    height:40px;
}

.detailsPane .ui-btn-inner{
    line-height:normal;
    padding: inherit;
    height:auto;
}

.itemButton .ui-btn-inner{
    padding-left:15px !important;

}

.detailsPane{
    clear: both;
    background-color: white;
    padding: 5px;
    border: 1px solid rgb(204, 204, 204);
}

#settingsArea{
    display:none;
}

ul.scriptArguments{
    width:400px;
}

ul.scriptArguments input, ul.scriptArguments textarea{
    margin: 0;
}

@media all and (min-width: 650px){

	
	.content-secondary {
		text-align: left;
		float: left;
		width: 45%;
		background: none;
	}
	.content-secondary,
	.type-interior .content-secondary {
		
			background: none;
					border-top: none;
	}
	.type-index .content-secondary {
		padding: 0;
	}
	.content-secondary .ui-collapsible {
		margin: 0;
		padding: 0;
	}
	.content-secondary .ui-collapsible-content {
		border-left: none;
		border-right: none;
	}
	.type-index .content-secondary .ui-listview {
		margin: 0;
	}

	.ui-mobile #jqm-homeheader {
		padding: 0;
	}
	.content-primary {
		width: 45%;
		float: right;
		margin-top: 30px;
		margin-right: 1%;
		padding-right: 1%;
	}
	.content-primary ul:first-child {
		margin-top: 0;
	}
	/* collapsible non-inset example */
	.content-primary .ui-collapsible-content ul:first-child {
		margin-top: -10px;
	}
	.content-secondary h2 {
		position: absolute;
		left: -9999px;
	}
	.type-interior .content-primary {
		padding: 1.5em 6% 3em 0;
		margin: 0;
	}
	/* fix up the collapsibles - expanded on desktop */
	.content-secondary .ui-collapsible-inset {
		margin-bottom: 2em;
	}
	.content-secondary .ui-collapsible-heading {
		display: none;
	}
	.content-secondary .ui-collapsible-contain {
		margin:0;
	}
	.content-secondary .ui-collapsible-content {
		display: block;
		margin: 0;
		padding: 0;
	}
	.type-interior  .content-secondary .ui-li-divider {
		padding-top: 1em;
		padding-bottom: 1em;
	}
	.type-interior .content-secondary {
		margin: 0;
		padding: 0;
	}
	
}
